
.emailInUse
    display: none


.flagEmailInUse
  display: flex

.flagValidator

  border: dashed red




input [ type = "file"] 
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    height: 100%
  
.uploadAvatar
  display: none

.chooseAvatarlabel 
 
  cursor: pointer
  border-radius: 50px
  font-size: large
  background-color: white

  border: 3px solid #ccc
  -webkit-transition: 0.5s
  transition: 0.5s
  outline: none
  display: flexbox
  flex-direction: column
  align-items: center

  padding:auto
  box-shadow: 1px 3px 0 #012
  display: none

  
.chooseAvatarlabel:hover  
    border-color: rgb(38, 39, 39) 


.chooseAvatarlabel:active 
    box-shadow: 1px 1px 0 #012
  





.termsWrapper
  display: flex
  flex-direction: row
  align-items: baseline
  justify-content: center
  width: 100%
  height: 100%
  margin: auto



  


// .emailClass
//   text-align: center

//   justify-content: center
//   align-content: center
//   justify-self: center
//   align-self: center
//   border-radius: 50px
//   height: 40px
//   font-size: large
//   width: 66%
//   margin: auto

    // .roundedInput
//   text-align: center
//   width: 66%
//   height: 40px
//   justify-content: center
//   align-content: center
//   justify-self: center
//   align-self: center
//   border-radius: 50px
//   font-size: large