@import ./Theme

*
  // border: 1px solid red
  
  
  
  
.outerApi
  display: flex
  flex-flow: row wrap
  align-content: center
  justify-content: center
  background-color: $color5
  color: $color3
  // background-image: url('https://media1.thehungryjpeg.com/thumbs2/ori_1199_rs08lbcg1tg7b8l3rsdjwqa73z91wuy5q0l0fkvd_photocopy-noise-texture-pack.jpg')
  // background-blend-mode: overlay
 
   

.buttonOuterFlow
  z-index: 10
  // position: fixed
  display: flex
  width: 100%
  align-items: center
  justify-content: space-around
  background-color: $color4
  padding: 10px

  .topButtonContainer
      justify-content: space-around
      button 
        margin: 0 5vw 0 5vw
        text-align: center
        padding: .5vw
  .welcomeMessage
    background-color: $color1
    color: $color6
    align-self: center
    border-bottom: 5px solid $color1
    font-size: 20px
    border-radius: 10px
    padding: 20px
    i 
      color: $color5
  


.tempApiListInner
  width: 100%
  max-width: 300px
  border: 2px solid $color3
  margin: 2vw
  padding: 2vw
  border-radius: 1vw 1vw 0 0
  background-color: $color5
  box-shadow: 3px 6px 9px $color1
  // box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.85)


.tempApiListTop
  display: flex
  justify-content: space-between
  img 
    border-radius: 3vw


  .imgBorder
    padding: 10px
    border-radius: 3vw
    border: 2px dashed $color1
    // animation: border-dance .4s infinite alternate 
    // @keyframes border-dance 
    //   0% 
    //     border: 2px dashed $color1
    //   100% 
    //     border: 3px dashed $color1
    label
      display: flex


.tempApiListTop
  display: flex

  img 
  .deleteButton
    background: none
    border: none
    cursor: pointer
    justify-items: flex-end
    align-self: start
    justify-self: end
    img
    animation: spin .4s infinite alternate 
    animation-play-state: paused
    &:hover
      animation-play-state: running
@keyframes: spin 
  100% 
    transform: rotate(1turn)

    //todo finish animation

       
     



  

.homepageOuterButtons
  width: 100%
  display: block
  justify-items: end
  text-decoration: none
  align-items: end
  justify-content: end
  button
    padding: .5vw
.deleteUpdatContainer
  display: flex
  width: 100%
  justify-content: flex-end
.updateUserButtonOuter
  width: 100%
  display: flex
  justify-content: flex-end
  margin: auto
  text-decoration: underline

  



  
  

.flexRow
  display: inline-flex
  flex-wrap: wrap
  width: 100%
  @media only screen and (max-width: 768px) 
    width: 100%
    
    
.flexRow
  .editableSize, p
    width: 100%




.editableSize
  border: 2px solid $color3
  background-color: $color4
  margin: 0.2vw 0 0 0
  border-radius: 2px
  transition: 0.5s background ease
  &:hover, &:focus
    
    background-color: $color1
    color: $color4

//   animation: border-dance 1s ease-in-out 2s infinite alternate 
  

// @keyframes border-dance 
//   0% 
//     border: 2px dashed $color1
//   100% 
//     border: 3px dashed $color1
  





// .flexcollumn
//   border-radius: 2px
//   display: flex
//   flex-direction: column
//   width: 100%
//   height: 100%
//   align-items: baseline
//   margin: auto
//   text-align: center










  



button:not(.deleteButton) 
  border-radius: 1vw 
  border: 0
  background-color: $color4
  color: $color1
  width: auto
  transition: 0.5s background ease
  &:hover
    background-color: $color1
    color: $color4

.topButtonContainer button

  color: $color5  
  background-color: $color2


  
  



  

  



  







.loadingIcon
  mix-blend-mode: multiply
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)


.hideInput
  display: none