@import ./Theme

*
  // border: 1px solid red
  
  
  
  
.outerApi
  display: flex
  flex-flow: row wrap
  align-content: center
  justify-content: center
  background-color: $color5
  color: $color2
  background-image: url(../Assets/background.png)
 
   

.buttonOuterFlow
  z-index: 10
  // position: fixed
  display: flex
  width: 100%
  align-items: center
  justify-content: space-around
  background-color: $color4
  padding: 10px +5vw
  img 
    mix-blend-mode: multiply
    height: 100%
  .logoWelcomeContainer
    align-items: center
    width: 100%
    display: flex
    justify-content: space-evenly
    @media ( max-width: 730px )      
      flex-flow: column
      img 
        width: 100%
        max-width: 400px

  .topButtonContainer
    display: flex   
    width: 100%   
    height: 100%
    align-items: center
    justify-content: flex-end
  .innerTopButtonContainer
    button 
      margin: 1em
      text-align: center
      padding: 1em
  .welcomeMessage
    background-color: $color2
    color: $color6
    align-self: center
    border-bottom: 5px solid $color2
    font-size: 20px
    border-radius: 10px
    padding: 1px 30px 1px 30px
    height: 60%
    i 
      color: $color5


.innerTopButtonContainer
  @media ( max-width: 730px )      
    width: 100%
    display: flex
    justify-content: space-evenly
    button
      background-color: red
  
.outerApilist
  display: flex
  flex-flow: row-reverse wrap-reverse
  align-content: center
  justify-content: center


.tempApiListInner
  flex: 1 1 18em
  max-width: 500px
  border: 2px solid $color3
  margin: 2em
  padding: 2em
  border-radius: 2vw 2vw 0 0
  background-color: $color5
  box-shadow: .5vw .7vw 1.2vw $color3
  background-image: url(../Assets/arttest2.png)
  background-blend-mode: color

  // box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.85)


.tempApiListTop
  display: flex
  justify-content: space-between
  img 
    border-radius: 3vw


  .imgBorder
    padding: 10px
    border-radius: 3vw
    border: 2px dashed $color3
    // animation: border-dance .4s infinite alternate 
    // @keyframes border-dance 
    //   0% 
    //     border: 2px dashed $color3
    //   100% 
    //     border: 3px dashed $color3
    label
      display: flex


.tempApiListTop
  display: flex







    //todo finish animation

       
     



  

.homepageOuterButtons
  width: 100%
  display: flex
  justify-items: end
  text-decoration: none
  align-items: end
  justify-content: end
  flex-flow: wrap
  button
    padding: .5vw
    
.deleteUpdatContainer
  display: flex
  width: 100%
  height: 50%
  justify-content: flex-end
  border: none
  img 
  .deleteButton, 
    background: none
    border: none
    cursor: pointer
    justify-items: flex-end
    align-self: flex-start
    justify-self: end
    width: 2.5em
    height: 0
    padding: 5px
    margin: 0
    img
      width: 100%
      transition: all 1.3s ease-in-out 0s
      padding: 5px

    img:hover
      background-color: red
      border-radius: 0.2vw
      transform: rotate(90deg)
      transition: all 1.3s ease-in-out 0s




.updateUserButtonOuter
  width: 100%
  display: flex
  justify-content: flex-end
  margin: auto
  text-decoration: underline

  



  
  

.flexRow
  display: inline-flex
  flex-wrap: wrap
  width: 100%

  @media only screen and (max-width: 768px) 
    width: 100%
    
    
.flexRow
  .editableSize, p
    width: 100%




.editableSize
  border: 2px solid $color3
  background-color: $color4
  margin: 0.2vw 0 0 0
  border-radius: 2px
  transition: 0.5s background ease
  &:hover, &:focus
    
    background-color: $color3
    color: $color4

//   animation: border-dance 1s ease-in-out 2s infinite alternate 
  

// @keyframes border-dance 
//   0% 
//     border: 2px dashed $color3
//   100% 
//     border: 3px dashed $color3
  





// .flexcollumn
//   border-radius: 2px
//   display: flex
//   flex-direction: column
//   width: 100%
//   height: 100%
//   align-items: baseline
//   margin: auto
//   text-align: center










  



button:not(.deleteButton) 
  border-radius: 1vw 
  border: 0
  background-color: $color4
  color: $color1
  width: auto
  transition: 0.5s background ease
  &:hover
    background-color: $color2
    color: $color4

.topButtonContainer button

  color: $color5
  background-color: $color2


  
  



  

  



  







.loadingIcon
  mix-blend-mode: multiply
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)


.hideInput
  display: none

.width100
  width: 100%
  display: flex
  justify-content: center