@import ./Theme

$outergrid: 5vw

body
  margin: 0

.outerApi
  display: flex
  flex-flow: row wrap
  align-content: center
  justify-content: center
  background-color: $color5
  color: $color2
  background-image: url(../Assets/background.png)

.buttonOuterFlow
  z-index: 10
  display: flex
  width: 100%
  align-items: center
  justify-content: space-around
  background-color: $color4
  padding: $outergrid
  padding-top: 5px
  padding-bottom: 5px
  img
    mix-blend-mode: multiply
    height: 100%

  .logoWelcomeContainer
    align-items: center
    width: 100%
    display: flex
    justify-content: space-evenly
    @media ( max-width: 730px )
      flex-flow: column
      img
        width: 100%
        max-width: 400px

  .topButtonContainer
    display: flex
    width: 100%
    height: 100%
    align-items: center
    justify-content: flex-end
  .innerTopButtonContainer
    display: flex
    justify-content: flex-end
  @media ( max-width: 730px  )
    justify-content: center
  button
    margin: 1em
    text-align: center
    padding: 1em
    text-align: center
  .welcomeMessage
    background-color: $color2
    color: $color6
    align-self: center
    border-bottom: 5px solid $color1
    font-size: 20px
    border-radius: 10px
    padding: 1px 30px 1px 30px
    height: 60%
    i
      color: $color5

.innerTopButtonContainer
  @media ( max-width: 730px )
    width: 100%
    display: flex
    justify-content: space-evenly

.outerApilist
  display: flex
  flex-flow: row-reverse wrap-reverse
  align-content: center
  justify-content: center
  padding: $outergrid
  @media ( max-width: 730px )
    padding: 0
    margin: 0

.tempApiListInner
  flex: 1 1 18em
  min-width: 380px
  max-width: 420px
  border: 2px solid $color3
  margin: 3em
  padding: 2em
  border-radius: 2vw 2vw 0 0
  background-color: $color5
  box-shadow: .3vw .4vw .3vw $color1
  background-image: url(../Assets/InnerBackground.png)
  // try uncommenting below for cool
  // background-attachment: fixed 
  background-position: center
  @media ( max-width: 730px )
    width: 100%
    max-width: auto
    min-width: auto
    padding: 5vw
    margin: 5vw

.tempApiListTop
  display: flex
  justify-content: space-between
  img
    border-radius: 3vw

  .imgBorder
    padding: 10px
    border-radius: 3vw
    border: 2px dashed $color3
    label
      display: flex

.tempApiListTop
  display: flex

    //todo finish animation

.homepageOuterButtons
  width: 100%
  display: flex
  justify-items: end
  text-decoration: none
  align-items: end
  justify-content: end
  flex-flow: wrap
  button
    padding: .5vw

.deleteUpdatContainer
  display: flex
  width: 100%
  height: 50%
  justify-content: flex-end
  border: none
  img
  .deleteButton,
    background: none
    border: none
    cursor: pointer
    justify-items: flex-end
    align-self: flex-start
    justify-self: end
    width: 2.5em
    height: 0
    padding: 5px
    margin: 0
    img
      width: 100%
      transition: all 1.3s ease-in-out 0s
      padding: 5px
      background-color: $color4

    img:hover
      background-color: red
      border-radius: 0.2vw
      transform: rotate(90deg)
      transition: all 1.3s ease-in-out 0s

.updateUserButtonOuter
  width: 100%
  display: flex
  justify-content: flex-end
  margin: auto
  text-decoration: underline

.flexRow
  display: flex
  flex-wrap: wrap-row
  width: 100%
  align-items: center
  @media ( max-width: 730px )
    flex-wrap: wrap
.outerLabel
  width: 33%
  box-shadow: inset 0 0 80px $color5
.outerInput
  width: 100%

  .labels
    width: 100%
    margin-top: 10px

  .editableSize
    width: 100%
    margin: 10px 0 10px 0
    flex-basis: 30em
    padding: 0.5em 0 0.5em 0
    padding-left: 5px
    max-width: calc( 100% - 5px )

.firstFlexRow
  margin-top: 22px

.editableSize
  border: 2px solid $color3
  background-color: $color4
  margin: 0.2vw 0 0 0
  border-radius: 2px
  transition: 0.5s background ease
  &:hover, &:focus

    background-color: $color2
    color: $color4

button:not(.deleteButton)
  border-radius: 1vw
  border: 0
  background-color: $color4
  color: $color1
  width: auto
  transition: 0.5s background ease
  border-bottom: 5px solid $color1
  &:hover
    background-color: $color2
    color: $color4

.topButtonContainer button

  color: $color5
  background-color: $color2

.updateUserButtonOuter button
  border-bottom: 2px solid $color1

button
  min-width: 42px
  min-height: 42px

.loadingIcon
  mix-blend-mode: multiply
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.hideInput
  display: none

.width1001
  width: 100%
  display: flex
  @media screen and ( max-width:750px  )
    justify-content: center

.width100
  width: 100%
  display: flex
  justify-content: center
