@import url(https://indestructibletype.com/fonts/Jost.css)
@import ./createAccount
@import ./emailValidator
@import ./homepage
@import ./login

$ruler: 16px

.nav-links
  justify-content: space-around
  list-style: none

.App

.App *
  font-family: 'jost'
  font-size: $ruler

// wrapped around login create emailV

.wrapper
  position: absolute
  width: 400px

  border: 2px solid #A288A6
  padding: 3rem
  border-radius: 10px
  background-color: #F1E3E4
  box-shadow: 3px 6px 4px #1C1D21
  color: #1C1D21
  top: 50%
  left: 50%
  -ms-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
  @media only screen and (max-width: 768px) 
    width: 80%
    height: 100%
    position: relative
    -ms-transform: translate(0%, 0%)
    transform: translate(0%, 0%)
    top: 0%
    left: 0%
   

  label
    display: block
    border-radius: 10px
    padding: 1rem 0 .25rem 0
    

  input
    display: block
    width: 90%
    border-radius: 5px
    border: 2px solid #F1E3E4
    padding: .5rem
    transition: 0.5s background ease
    &:hover
      background-color: #F1E3E4
      color: white
  input[ type=submit ],[type=reset]
    margin-top: 10px
    border: 0
    background-color: #A288A6
    color: white
    width: auto
    transition: 0.5s background ease
    &:hover
      background-color: #BB9BB0

.loadingIcon
  position: fixed
  display: block
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.hideIcon

  display: none
