@import url(https://indestructibletype.com/fonts/Jost.css)
@import ./createAccount
@import ./emailValidator
@import ./homepage
@import ./login
@import ./Theme

$ruler: 16px

.nav-links
  justify-content: space-around
  list-style: none

.App
  width: 100%
  height: 100%
  background-image: url('https://media1.thehungryjpeg.com/thumbs2/ori_1199_rs08lbcg1tg7b8l3rsdjwqa73z91wuy5q0l0fkvd_photocopy-noise-texture-pack.jpg')


.App *
  font-family: 'jost'
  font-size: $ruler
  

// wrapped around login create emailV
.wrapper
  background-image: url('https://media1.thehungryjpeg.com/thumbs2/ori_1199_rs08lbcg1tg7b8l3rsdjwqa73z91wuy5q0l0fkvd_photocopy-noise-texture-pack.jpg')
  background-blend-mode: overlay

.wrapper
  position: absolute
  width: 400px
  border: 2px solid $color1
  padding: 3rem
  border-radius: 10px
  background-color: $color5
  box-shadow: 3px 6px 4px $color1
  color: $color1
  top: 50%
  left: 50%
  -ms-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
  @media only screen and (max-width: 768px) 
    width: 80%
    height: 100%
    position: relative
    -ms-transform: translate(0%, 0%)
    transform: translate(0%, 0%)
    top: 0%
    left: 0%
   

  label , 
    display: block
    border-radius: 10px
    padding: 1rem 0 .25rem 0

    

  input, .altUploadAvatar , .linkButton
    color: $color1
    display: block
    width: 100%
    border-radius: 5px
    border: 2px solid $color2
    padding: .5rem 0 .5rem 0
    transition: 0.5s background ease
    &:hover, &:focus
      background-color: $color1
      color: $color4
    &[type=file]
      display: none
    

  input[ type=submit ],[type=reset], .linkButton
    display: inline
    justify-self: flex-end
    padding: .5rem
    margin-top: 10px  // not sure
    border: 0
    background-color: #A288A6
    color: white
    width: auto
    transition: 0.5s background ease
    &:hover, &:focus
      background-color: $color1
      color: $color4






// Functional Classes

.hideIcon

  display: none

.linkRedirect
  text-decoration: none

.emailInUse
  display: none

.flagEmailInUse
  color: red
  background-color: $color5
  display: flex


.flagValidator
  border: dashed red

.hidePasswordCharAlert
  display: none

.hidePasswordNumAlert
  display: none

.emailNotInUse
  display: none

.flagEmailInUse
  color: red
  background-color: $color5
  display: flex

.wrongPassword
  display: none

