.wrapper .terms {
  display: flex;
  flex-direction: row;
  justify-items: baseline;
  allign-items: baseline;
}

.emailInUse {
  display: none;
}

.flagEmailInUse {
  color: red;
  background-color: white;
  display: flex;
}

.flagValidator {
  border: dashed red;
}

.flagPassword {
  background-color: white;
  color: red;
  display: flex;
}

.hidePasswordCharAlert {
  display: none;
}

.hidePasswordNumAlert {
  display: none;
}

input [type="file"] {
  visibility: hidden;
}

.uploadAvatar {
  display: none;
}
