.emailNotInUse {
  display: none;
}

.flagEmailInUse {
  color: red;
  background-color: white;
  display: flex;
}

.wrongPassword {
  display: none;
}

.flagWrongPassword {
  color: red;
  background-color: white;
  display: flex;
}
