@import url(https://indestructibletype.com/fonts/Jost.css);



.App {
  text-align: center;
  font-family: 'jost';

}


/* *{

  border: 1px solid green;

} */


@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }


.outer{
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: fixed;
  background-color: rgba(255,255,255,0.838);
  margin: auto;
  z-index: 1;
  }

  .inner{
    width: 50%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
.wrapper  {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%; 
  height: 100%;
  justify-content: center;
  align-content: center;
  align-self: center;
  justify-self: center;

  
}

.outerButtons {
  display: flex;
 
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;

}

  
#emailValidate{
display: flex;

}

#createAccountVisibility{
  display: none;
}

#loginVisibility{
display: none;

}

#emailInUse{
  display: none;


}

#loginRedirect{
  display: none;

}

#emailNotInUse{
  display: none;


}

#CreateAccountRedirect{
  display: none;

}

#passwordIncorrect{
  display: none;
}

#passwordIncorrect{
  background-color: red;
}
