@import url(https://indestructibletype.com/fonts/Jost.css);



/* Structure- 
-top level (nav/app)
-emailValidator
-Login
-CreateAccount
-Homepage
-Functional css */

.App {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  font-family: 'jost';
  overflow: "auto"
  
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}


/* *{

  border: 1px solid green;

} */

* {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 2s;
  }
  
  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }





.outer{
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);


  
}

.inner{
    width: 66%;
    height: 66%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    background-color: aliceblue;
    box-shadow: 10px 10px 5px grey;

  }

.wrapper  {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%; 
  height: 100%;
  justify-content: center;
  align-content: center;
  align-self: center;
  justify-self: center;

}


.outerButtons {
  display: flex;
 
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  margin: auto;

}



.emailClass{
  text-align: center;

  justify-content: center;
  align-content: center;
  justify-self: center;
  align-self: center;
  border-radius: 50px;
  height: 2vw;
  font-size: large;
  width: 66%;
  margin: auto;

}


.roundedInput{
  text-align: center;
  width: 66%;
  height: 2vw;
  justify-content: center;
  align-content: center;
  justify-self: center;
  align-self: center;
  border-radius: 50px;
  font-size: large;


}



.chooseAvatar{
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }




.termsWrapper{
display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin:auto;
}






.loginTop{
  padding-top: 20%;
 
  width: 100%;
  height: 100%;
  margin:auto;

}



.loginMid{

  width: 100%;
  height: 100%;
  margin:auto;
  
}

.loginBottom{
  width: 100%;
  height: 33%;
  margin:auto;
}










.flagValidator{

  border: dashed red;
}

.emailInUse{
display: none;
}

.flagEmailInUse{
  display: flex;

}

.emailNotInUse{
  display: none;
}

.flagEmailInUse{
  display: flex;


}

.wrongPassword{
  display: none;
}

.flagWrongPassword{
  display: flex;
}

.loadingIcon{

  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}

.hideIcon{

  display: none;
}














.outerApi{
  width: 75%;
  height: 75%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: rgba(255,255,255,0.838);
  z-index: 1;
  margin: auto;
}









.flexRow{
  width: 400px;
  display: flex;
  flex-direction: row;
}

.apiList{
  margin: auto;
  padding: auto;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  display: flex;
  flex-flow: row wrap;


}

.apiListInner{
  border: 1px solid green;
  margin: auto;

}

.flexcollumn{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: baseline;
  border: 1px solid salmon ;

  margin: auto;

}

.editableSize{
  border: 1px solid rgb(19, 146, 232);
  margin: 5px;
  align-items: baseline;
  width: 100%;
  height: 100%;
  max-width: 300px;
}



